
/** table **/


.effectif table td, .effectif table th{
    
  
    text-align: center;
    
}
.effectif div input{
    align-items: center;
    text-align: center;
    margin: 0 40% ;
}
.case input{
  
   text-align: center;
}

.valider:hover{
    cursor: pointer;
    background-color:darkred;
    color: snow;
}
.retour{
    display: block;
    margin-top: 250px;
  
    background-color: rgb(248, 247, 247);
    width: 300px;
   
    
}
.retour a {
    font-size: 32px;
    margin-top:100px ;
    text-align: center;
    margin-left: 120px;
}

table {
    position: relative;
    z-index: 2;
    left: 4%;
  
    top: 20px;
    margin-bottom: 30px;
    transform: translate(-2%,-9%);
    width:1650px;

    text-align: center;
 
}
tr:nth-child(odd) {
    background-color: rgb(211, 207, 207);
}

tr:first-child{
    background-color: #426d7a;
    font-size: 14px;
    color: snow;
    font-family: 'Courier New', Courier, monospace;
}
table th {
    width: 150px;
    height: 30px;
 } 
 .titre {
 font-size: larger;
 color: #212526; ;
     margin-top: 110px;
     text-align: center;
     text-decoration: underline;
 }
.page{
    margin-bottom: 30px;
    margin-left: 150px;
    background-color: #104d5e;
    color: #abc08d;
    padding: 5px 15px;
    border-radius: 10px;
text-decoration: none;
}
.page:hover{
    background-color: #c8dee5;
    color:#426d7a ;
}

.avant
{
    display: flex;
text-align: center;
    font-size: 28px;
    color: #104d5e;
    border: 1px solid #104d5e;
    margin-right: 450px;
    margin-left: 400px;
    padding: 10px 10px;
}

.title{
    margin: 0px 100px;
    
}

.title  h3 {
    display: inline;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#btn-rech {
    position: absolute;
    width: 100px;
    height: 35px;
   margin-left: -240px;
   margin-top: 20px;

   border: 1px solid black;
}
#btn-rech:hover {
    cursor: pointer;
    background-color: brown;
    color: white;
    
}

.title input {
    width: 200px;
    text-align: center;
    height: 30px;
}
.ret{
    margin-bottom: 30px;
    margin-left: 800px;
    background-color: #5e1010;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
text-decoration: none;
}

.ret:hover{
    background-color: white;
    color:#b5492d ;
    border: 1px solid red;
}


.edit {
    text-decoration: none;
    margin: 0px 10px;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius:2px ;
    background-color: #27853a;
    color: white;
    box-shadow: 1px 1px 0px black;
}

.sup{
    text-decoration: none;
    margin: 0px 10px;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius:2px ;
    background-color: #b44242;
    color: white;
    box-shadow: 1px 1px 0px black;
}
.sup:hover{
    color: #b44242;
    background-color: white;
}
.edit:hover{
    color: #27853a;
    background-color: white;
}
.des{
    width: 400px;
    
}
.size {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.don{
    position: absolute;
    margin: 20px 500px;
  border: 2px solid black;
 box-shadow: 0px 0px 5px rgb(3, 3, 3);
 border-radius:25px ;
 background-color: rgba(193, 190, 179, 0.271);
}
.don input{
    
    margin: 0px 200px;
    text-align: center;
    width: 250px;
    height: 20px;
}
.don p{
    
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    color: #104d5e;
}
.don h2{
    
   text-decoration: underline;
    text-align: center; 
}

.bout{
    background-color: darkred;
    margin: 20px 250px;
    padding: 10px 10px;
    color: white;
    box-shadow: 1px 1px 5px black;
}
.bout:hover{
    color: darkred;
  cursor: pointer;
    background-color: white;
    
}
.supprimer {
    position: absolute;
    margin: 200px 500px;
    padding: 20px 100px;
  border: 2px solid black;
  text-align: center;
 box-shadow: 0px 0px 5px rgb(3, 3, 3);
 border-radius:25px ;
 background-color: rgba(193, 190, 179, 0.271);
}
.supprimer p {
  font-size: 18px;
}
.supprimer h3 {
    font-size: 22px;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    color: #104d5e;
  }
  .btnn {
      background-color: rgb(226, 211, 211);
      padding: 5px 10px;
      margin: 5px 10px ;
      box-shadow: 1px 1px 2px black;
      color: black;
      text-decoration: none;
      font-size: 15px;
  }

  .btnn:hover{
      background-color: white;
      cursor: pointer;

  }