
body{
    background-image: url(../image/layer.png);
background-size: 97%;
    margin: 0;
    padding: 0; 
    
}
header{
    display: block;
    display: flex;
    background-image: linear-gradient(to right,green, #049d18,green);
    box-shadow: 5px 0px 10px #000;
}
titre{
   
    margin-left: 100px;
    color: seashell;
    text-decoration: underline;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu-bar{
   text-align: center; 
}
.menu-bar ul  {
    display: flex;
    list-style: none;
    padding-top: 15px;
}
.menu-bar ul li {
    margin-left: 120px;
}
.menu-bar ul li a{
    color: seashell;
    width: 150px;
    height: 30px;
    display: block;
    padding-top: 10px;
    text-decoration: none; 
    
}
.col:hover{
    background-color: snow;
    box-shadow: 5px 5px 10px #000;
    border-radius: 3px;
    border: 1px solid snow;
    color: #6db9ef;
}
.sub-menu-1{
    display: none;
   width: 165px;
   height: 190px;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: green;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    float: right;   
}
.menu-bar ul li:hover .sub-menu-1 ul li{
width: 150px;
background: transparent;
border-bottom: 1px solid #ffffff;
text-align: center;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.pos div{
    padding-top: 150px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 26px;
    color:#333333;
    font-style: italic;
    padding-right: 150px;
    padding-left: 70px;
}
.pos meduim{
   display: block;
   display: flex;
}
.pos site{
    border: 1px solid snow;
    text-align: center;
    box-shadow: 5px 5px 10px #000;
    padding: 30px 50px;
    margin: 120px 10px;
}
.site{
    background-color: darkred;
    margin:10px 10px;
   padding:10px 10px;
   color: snow;
   text-decoration: none;
}
.wael{
    background-color: #385075;
    margin:10px 10px;
   padding:10px 10px;
   color: snow;
   text-decoration: none;
}
.mehdi{
    background-color: #385075;
    margin:10px 10px;
   padding:10px 10px;
   color: snow;
   text-decoration: none;
  
}

bottom div{
    position: absolute;
    margin-top:720px;
    display: block;
    display: flex;
    padding-left: 100px;
    background-image: linear-gradient(to right, green, #7ce08a);
    color: snow;
}

bottom .image{
    width: 50px;
    height: 70px;
    padding-right: 300px;
    
}
bottom .logo{
    width: 70px;
    height: 30px;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: 20px;
}
.site:hover{
    background-color: snow;
    box-shadow: 5px 5px 10px #000;
    border-radius: 3px;
    border: 1px solid snow;
    color:darkred ;
}
.wael:hover{
    background-color: snow;
    box-shadow: 5px 5px 10px #000;
    border-radius: 3px;
    border: 1px solid snow;
    color:#385075;
}
.mehdi:hover{
    background-color: snow;
    box-shadow: 5px 5px 10px #000;
    border-radius: 3px;
    border: 1px solid snow;
    color:#385075;

}

/* questionaire*/
#box{
    position: absolute;
    margin: 130px 30%;
    width: 550px;
    border: 3px solid rgb(93, 93, 96);
    border-radius: 30px;
    box-shadow: 0px 0px 5px black;
    background:rgba(35, 36, 35, 0.8);
}
#box h1{
    
    color: rgb(14, 14, 14);
    font-size: 22px;
    background-color: rgb(246, 244, 241);
    margin: 30px 24%;
    padding: 5px 50px;
    width: 200px;
    border-radius: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box h3 {
    color: white;
    size: 18;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
}
#box p{
    margin: 10px 10px;
    
    font-size: 17px;
    color: white;
}
.radio2 {
    font-size: 18px;
   
 position: relative;
    margin-left: 50px;
    margin-right:50px ;
    display: block;
    border: 1px solid black;
    margin-bottom:20px ;
    border-radius: 15px;
    background:rgb(253, 250, 250);
    opacity: 0.85;
   
}
.radio2 input {
    margin-left: 70px;
    margin-bottom: 40px;
    width: 50px;
    opacity: 0.5;
}
.radio2 label{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    background-color: rgb(151, 151, 154);
    padding: 5px 30px;
 
    border-radius: 10px;
    
}
.radio2 label:hover{
  
    background-color: rgb(237, 237, 241);
    
}
.radio2 label:hover {
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(52, 130, 91);
    cursor: pointer;
   
}
.radio2 h2 {
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
   
}
.valider {
    margin: 20px 200px;
    padding: 10px 30px ;
    font-family: sans-serif;
    color:rgb(14, 13, 13);
    font-size: 18px;
}
.valider:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

/** page roulement bouton */
.btn{
    margin-left: 50px;
}
.btn button {
    margin-bottom: 30px;
    margin-left: 70px;
    padding: 5px 30px;
}
.btn button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}



